body {
    text-align: center;
}

section.content {
    display: inline-block;
}

section.throughput label {
    display: inline-block;
    width: 200px;
}

section.throughput label.left {
    text-align: right;
}

section.throughput label.right {
    text-align: left;
}

section.throughput span.number {
    display: inline-block;
    width: 200px;
    text-align: center;
    font-weight: bold;
    font-size: +2em;
}

section.current {
    text-align: center;
    font-size: +2.4em;
}

section.max {
    text-align: center;
    font-size: +1.6em;
}

hr {
    width: 100%;
    display: inline-block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 10px 0 20px;
    padding: 0;
}

section.posts {
    text-align: right;
}

section.posts label.left {
    float: left;
    font-size: +1.5em;
}

section.posts span.likes {
    font-weight: bold;
    font-size: +2em;
}

section.posts span.added {
    display: inline-block;
    width: 80px;
    font-size: +1.2em;
    color: green;
}